In [6]:
import pandas as pd
import numpy as np

uber_trips_2014 = pd.read_csv('Datathon Materials/uber_trips_2014.csv')
uber_trips_2014.head()

  pickup_datetime  pickup_latitude  pickup_longitude    base
0     4/1/14 0:11          40.7690          -73.9549  B02512
1     4/1/14 0:17          40.7267          -74.0345  B02512
2     4/1/14 0:21          40.7316          -73.9873  B02512
3     4/1/14 0:28          40.7588          -73.9776  B02512
4     4/1/14 0:33          40.7594          -73.9722  B02512

In [3]:
uber_trips_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4534327 entries, 0 to 4534326
Data columns (total 4 columns):
pickup_datetime     object
pickup_latitude     float64
pickup_longitude    float64
base                object
dtypes: float64(2), object(2)
memory usage: 138.4+ MB

In [4]:
df_locations = pd.read_csv('Datathon Materials/geographic.csv')
df_locations.head()

,BK88,QN52,QN48,QN51,QN27,BX35,BX98,QN07,MN06,QN02,...,MN25,MN24,MN23,MN13,MN15,MN32,MN33,MN99,QN18,QN29
0,-73.976051,-73.794934,-73.775740,-73.803792,-73.861099,-73.896967,-73.872873,-73.757258,-73.946080,-73.760316,...,-74.000784,-73.992605,-73.989904,-74.001535,-73.993833,-73.938048,-73.935054,-74.010930,-73.858726,-73.867911
1,40.631284,40.757806,40.743334,40.775618,40.763673,40.834350,40.785983,40.718147,40.821271,40.675118,...,40.694295,40.724145,40.734443,40.762653,40.772940,40.780838,40.791695,40.684500,40.735717,40.744942
2,-73.977167,-73.794749,-73.775799,-73.800991,-73.859931,-73.896787,-73.872886,-73.755890,-73.946404,-73.758806,...,-74.000960,-73.992634,-73.989870,-74.001339,-73.993789,-73.937903,-73.935108,-74.011934,-73.858672,-73.867877
3,40.630755,40.755636,40.743326,40.775397,40.762209,40.834133,40.785971,40.716307,40.820580,40.673014,...,40.694077,40.724065,40.733535,40.762217,40.772912,40.780758,40.791658,40.683896,40.735627,40.744824
4,-73.977000,-73.794579,-73.778060,-73.798653,-73.859668,-73.896303,-73.872983,-73.754702,-73.946720,-73.758598,...,-74.003015,-73.993093,-73.990028,-74.001279,-73.993727,-73.937796,-73.935173,-74.012177,-73.858585,-73.867852

In [7]:
from shapely.geometry import Point
from shapely.geometry import MultiPoint

polys = []
polys_nta = []
for column in df_locations.columns.values:
    xy_points = df_locations[column]
    x = np.array(xy_points)
    #x = x[np.logical_not(np.isnan(x))]
    y=[]
    for i in range(0,int((x.shape[0])/2),2):
        a=x[i]
        b=x[i+1]
        y.append([a,b])
        
    
    polys.append(np.nanmean(y,axis=0)) 
    polys_nta.append(column)
polys

[array([-73.98789731,  40.63066724]),
 array([-73.8071623 ,  40.75303473]),
 array([-73.79014061,  40.750217  ]),
 array([-73.80767235,  40.76810195]),
 array([-73.86587071,  40.76338293]),
 array([-73.90503689,  40.82562415]),
 array([-73.88070609,  40.7935005 ]),
 array([-73.76406789,  40.71050489]),
 array([-73.95607448,  40.81967302]),
 array([-73.77251739,  40.67298008]),
 array([-73.76788636,  40.76290174]),
 array([-73.96471679,  40.59838252]),
 array([-73.84493708,  40.83436036]),
 array([-73.78552758,  40.73499121]),
 array([-73.98288058,  40.75644593]),
 array([-73.9695875 ,  40.74841203]),
 array([-73.78012472,  40.78786533]),
 array([-73.76423117,  40.69280015]),
 array([-73.82923669,  40.69593568]),
 array([-73.85669659,  40.74084225]),
 array([-73.81708135,  40.67648725]),
 array([-73.77864589,  40.71904442]),
 array([-73.94637355,  40.60553573]),
 array([-73.97751903,  40.65533071]),
 array([-73.97641428,  40.64072705]),
 array([-73.95203147,  40.64555597]),
 array([-73.89855941,  40.81972902]),
 array([-73.96154697,  40.6904234 ]),
 array([-73.83958472,  40.83511586]),
 array([-73.82377775,  40.79529047]),
 array([-73.86096727,  40.75436543]),
 array([-74.00880756,  40.60243029]),
 array([-73.99580938,  40.60846836]),
 array([-73.94942556,  40.73464792]),
 array([-73.90359992,  40.72342364]),
 array([-73.93294133,  40.58719561]),
 array([-73.80683068,  40.71232825]),
 array([-73.79053136,  40.70612969]),
 array([-74.10571576,  40.56941681]),
 array([-73.90404948,  40.75047586]),
 array([-73.79030808,  40.67792924]),
 array([-73.79202182,  40.69471598]),
 array([-73.78879067,  40.83490291]),
 array([-74.00680341,  40.63989732]),
 array([-73.73661236,  40.69492676]),
 array([-73.91878762,  40.76154832]),
 array([-73.74313656,  40.71679554]),
 array([-73.7449234 ,  40.67651894]),
 array([-73.90087988,  40.61371445]),
 array([-73.95822312,  40.62172357]),
 array([-73.98852109,  40.5865392 ]),
 array([-73.99039646,  40.5968954 ]),
 array([-74.15940098,  40.64260518]),
 array([-74.12605855,  40.64107759]),
 array([-73.96060918,  40.57981002]),
 array([-74.18977445,  40.55692936]),
 array([-73.89482303,  40.6668646 ]),
 array([-73.84839198,  40.67616445]),
 array([-73.9469536 ,  40.65861176]),
 array([-73.9308331 ,  40.71516647]),
 array([-73.95783589,  40.70407476]),
 array([-73.95025519,  40.69254319]),
 array([-73.91031076,  40.66399433]),
 array([-73.97455229,  40.73962544]),
 array([-73.93039989,  40.68875239]),
 array([-73.91302392,  40.67692078]),
 array([-73.93584744,  40.67497884]),
 array([-73.98399201,  40.73660637]),
 array([-73.94677623,  40.66645287]),
 array([-73.92138016,  40.65253254]),
 array([-73.86510106,  40.86215065]),
 array([-73.8592288 ,  40.88238882]),
 array([-73.831043  ,  40.88150876]),
 array([-73.84730899,  40.86402941]),
 array([-73.88837631,  40.64707183]),
 array([-73.93536907,  40.7319222 ]),
 array([-73.81886333,  40.7436213 ]),
 array([-73.93617609,  40.64279715]),
 array([-74.12585848,  40.61655122]),
 array([-73.74806814,  40.76633139]),
 array([-73.92555486,  40.69634426]),
 array([-73.91629099,  40.69887801]),
 array([-73.90362115,  40.70684232]),
 array([-73.72893513,  40.73466717]),
 array([-73.7157508 ,  40.74637611]),
 array([-73.90632892,  40.8481504 ]),
 array([-73.9714448 ,  40.61784218]),
 array([-73.82808277,  40.75983147]),
 array([-74.10045762,  40.64045863]),
 array([-73.99627276,  40.71371264]),
 array([-73.9743132 ,  40.73166702]),
 array([-73.908136  ,  40.89867403]),
 array([-73.91168466,  40.88246427]),
 array([-73.96218748,  40.63715061]),
 array([-73.8566762 ,  40.89988735]),
 array([-74.12178514,  40.56466142]),
 array([-73.90764077,  40.86522863]),
 array([-73.91711087,  40.85414958]),
 array([-73.91338704,  40.81983393]),
 array([-73.90755469,  40.56210835]),
 array([-73.80091235,  40.59307027]),
 array([-73.88113811,  40.84421663]),
 array([-73.84932696,  40.84849571]),
 array([-73.84446129,  40.72077412]),
 array([-73.83075239,  40.70845777]),
 array([-73.97769454,  40.69199248]),
 array([-73.90045509,  40.84342477]),
 array([-73.89874511,  40.85866954]),
 array([-73.93478968,  40.80509323]),
 array([-73.95187656,  40.76001698]),
 array([-73.93726357,  40.75991516]),
 array([-73.91312026,  40.8047121 ]),
 array([-73.89569897,  40.78200922]),
 array([-73.75498251,  40.74362562]),
 array([-73.86831872,  40.78701325]),
 array([-73.91423449,  40.83167554]),
 array([-73.85320878,  40.85436957]),
 array([-73.87356641,  40.83492956]),
 array([-73.85873005,  40.83709119]),
 array([-73.86797339,  40.82805781]),
 array([-73.88929817,  40.86902538]),
 array([-73.88203036,  40.87851456]),
 array([-73.890499  ,  40.80713338]),
 array([-73.88334628,  40.83470723]),
 array([-74.08464779,  40.61888852]),
 array([-74.10352924,  40.63237758]),
 array([-73.83033756,  40.87554162]),
 array([-73.96769179,  40.67600432]),
 array([-74.01420701,  40.62147589]),
 array([-73.75771018,  40.60279669]),
 array([-73.89281992,  40.7382614 ]),
 array([-73.85868483,  40.65252554]),
 array([-73.88754015,  40.75915725]),
 array([-73.74708239,  40.63715129]),
 array([-73.85481395,  40.68772481]),
 array([-73.96196163,  40.71490561]),
 array([-73.95063396,  40.82796816]),
 array([-73.93703148,  40.82625918]),
 array([-74.1286479 ,  40.58837014]),
 array([-73.98798268,  40.57520352]),
 array([-73.97227386,  40.57962496]),
 array([-73.87669816,  40.70228733]),
 array([-73.92208086,  40.85601277]),
 array([-73.88529313,  40.85883963]),
 array([-73.95053006,  40.8031792 ]),
 array([-73.96081637,  40.7752834 ]),
 array([-73.98843966,  40.77531963]),
 array([-73.89601679,  40.87538107]),
 array([-73.96440706,  40.80871069]),
 array([-73.97747845,  40.790707  ]),
 array([-73.9865537 ,  40.72704596]),
 array([-73.98203912,  40.70568783]),
 array([-73.93730311,  40.85761681]),
 array([-73.94337775,  40.84246467]),
 array([-73.92564604,  40.83823204]),
 array([-73.92359123,  40.83111948]),
 array([-73.87826084,  40.82200578]),
 array([-73.87092172,  40.81916625]),
 array([-73.8855801 ,  40.56142121]),
 array([-74.07942   ,  40.58428579]),
 array([-73.77039332,  40.66195202]),
 array([-73.74458833,  40.64453166]),
 array([-74.19272189,  40.52076518]),
 array([-74.14360928,  40.5431239 ]),
 array([-73.88844557,  40.64678358]),
 array([-73.92925474,  40.6281438 ]),
 array([-74.01050454,  40.67593986]),
 array([-74.0727823 ,  40.60108215]),
 array([-74.07226287,  40.6201399 ]),
 array([-73.93007518,  40.77239277]),
 array([-74.01176901,  40.65561466]),
 array([-73.98430191,  40.67169193]),
 array([-73.81868704,  40.72605755]),
 array([-73.80542257,  40.7283387 ]),
 array([-73.88242292,  40.7188304 ]),
 array([-73.99488227,  40.69666181]),
 array([-73.98631792,  40.69739189]),
 array([-73.87651816,  40.65601473]),
 array([-73.88232597,  40.68106718]),
 array([-74.23700973,  40.53009334]),
 array([-74.19606879,  40.58890132]),
 array([-74.20975028,  40.54043632]),
 array([-74.02912868,  40.62512719]),
 array([-73.91755822,  40.58388308]),
 array([-74.12997387,  40.54041655]),
 array([-74.00144418,  40.69473917]),
 array([-74.00767661,  40.72041992]),
 array([-74.00715411,  40.73521154]),
 array([-74.00603404,  40.7491364 ]),
 array([-73.99661525,  40.76659745]),
 array([-73.93852234,  40.780504  ]),
 array([-73.94225615,  40.7881579 ]),
 array([-74.00950998,  40.68550999]),
 array([-73.86389649,  40.7260411 ]),
 array([-73.87951287,  40.73719528])]

In [8]:
from scipy.spatial import KDTree
kd = KDTree(polys)

def lonlat2NTA(x):
    return polys_nta[kd.query(x)[1]]


uber_trips_2014['nta_code'] = uber_trips_2014[['pickup_longitude','pickup_latitude']].apply(lonlat2NTA,axis=1)
uber_trips_2014.head()

  pickup_datetime  pickup_latitude  pickup_longitude    base nta_code
0     4/1/14 0:11          40.7690          -73.9549  B02512     MN40
1     4/1/14 0:17          40.7267          -74.0345  B02512     MN24
2     4/1/14 0:21          40.7316          -73.9873  B02512     MN22
3     4/1/14 0:28          40.7588          -73.9776  B02512     MN17
4     4/1/14 0:33          40.7594          -73.9722  B02512     MN17

In [9]:
from datetime import datetime
def convert_datetime_date(x):
    [date,time] = x.split(' ')
    return date
def convert_datetime_time(x):
    [date,time] = x.split(' ')
    try:
        [hh,mm] = time.split(':')
    except ValueError:
        [hh,mm,ss] = time.split(':')
    return int(hh)


uber_trips_2014['date'] = uber_trips_2014['pickup_datetime'].apply(convert_datetime_date)
uber_trips_2014['hour'] = uber_trips_2014['pickup_datetime'].apply(convert_datetime_time)

uber_trips_2014['demand'] = 1

uber_trips_2014.head()

,pickup_datetime,pickup_latitude,pickup_longitude,base,nta_code,date,hour,demand
0,4/1/14 0:11,40.7690,-73.9549,B02512,MN40,4/1/14,0,1
1,4/1/14 0:17,40.7267,-74.0345,B02512,MN24,4/1/14,0,1
2,4/1/14 0:21,40.7316,-73.9873,B02512,MN22,4/1/14,0,1
3,4/1/14 0:28,40.7588,-73.9776,B02512,MN17,4/1/14,0,1
4,4/1/14 0:33,40.7594,-73.9722,B02512,MN17,4/1/14,0,1

In [10]:
dataset_2014 = uber_trips_2014.groupby(['date','hour','nta_code'], as_index=False)['demand'].sum()
def convert_datetime_isweekday(x):
    try:
        datetimeobj = datetime.strptime(x, "%m/%d/%y")
    except ValueError:
        datetimeobj = datetime.strptime(x, "%m/%d/%Y")
    weekday = datetimeobj.isoweekday()
    if weekday<=5:
        isweekday = 1
    else:
        isweekday = 0
    return isweekday

dataset_2014['isweekday'] = dataset_2014['date'].apply(convert_datetime_isweekday)
dataset_2014.head()

     date  hour nta_code  demand  isweekday
0  4/1/14     0     BK34       1          1
1  4/1/14     0     BK37       1          1
2  4/1/14     0     BK60       1          1
3  4/1/14     0     BK64       1          1
4  4/1/14     0     BK69       1          1

In [12]:
dataset_2014.to_csv('uber2014.csv')